<input type="file" accept="image/*" id="image-selector" onchange="handleImageSelect(event)">
<p>Font Size</p>
<div>
  <input type="radio" id="radio-8px" name="font-size" value="8">
  <label for="radio-8px">8px</label>
</div>
<div>
  <input type="radio" id="radio-16px" name="font-size" value="16">
  <label for="radio-16px">16px</label>
</div>
<div>
  <input type="radio" id="radio-32px" name="font-size" value="32">
  <label for="radio-32px">32px</label>
</div>

<button id="asciify-button" (click)="asciify()">Asciify</button>

<div id="image-container"></div>

<pre></pre>